   html {
  scroll-behavior: smooth;
}

   body {
    background-color: #000D29; 
    color: #BCA18D; 
    font-family:Monospace, Arial, Helvetica,Serif, sans-serif; 

   }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
   }

  h2 {
  	text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    color: #118C8B;
    text-decoration: underline;
   }

  h3 {
  	text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
  	text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
  	text-align: center;
    margin-top: 0.5rem;
  }

  hr {
  	text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  footer {
  	text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;	
    background-color:#272424;
  }


  p {
  	margin-right: 15rem;
  	margin-left: 15rem;

  	text-align: center;

  }


i:{
	background-color: #BCA18D; 
color: #BCA18D; 

}
 
 a { 
 	color: #BCA18D; 
  } 



  a:hover {
    color: #F14D49; 
   }

   .banner {
   	 width:800px;
  	 height:350px;
 	 object-fit:cover;
   }

  .img-container {
     text-align: center;
   }

   .img-icon {
   	text-align: center;

   }

   .hi {
   		text-align: center;
   		margin-top: 3rem;
   		margin-bottom: 0.01rem;
   }





.menu {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:space-around;
  transition:opacity 0.5s;
  z-index:3;
  position:relative;
  color: #BCA18D; 
  background-color:#272424;

}
.menu li {
  padding:30px;
  list-style: none;
}
.menu li a {
  color: #F3EED6;
  text-decoration:none;
  font-weight:900;
}


.menu li a:hover  {
   color: #F14D49; 
}








