@import url(https://fonts.googleapis.com/css?family=Raleway);
:root {
  --main-html-css: 70%;
  --main-java: 45%;
  --main-javaScript: 50%;
  --main-php: 30%;
  --main-python: 50%;
  --main-sql-mysql: 65%;
}

* {
  margin: 0px;
  padding: 0;
}

.container-skill {
  max-width: 800px;
  margin: auto;
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 350px;
  margin: 5% auto;
  list-style: none;
}

.skills-bar-container li {
  background: #666666;
  position: relative;
  width: 100%;
  height: 4px;
  margin-bottom: 35px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label {
  position: relative;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#progress-sql {
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#progress-htmlcss {
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#progress-js {
  -webkit-animation-name: progress-js;
  animation-name: progress-js;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#progress-python {
  -webkit-animation-name: progress-python;
  animation-name: progress-python;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.progressblue {
  background-color: #118c8b;
}

@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-php);
  }
}

@-webkit-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-html-css);
  }
}

@-webkit-keyframes progress-js {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-javaScript);
  }
}

@-webkit-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-python);
  }
}

@-webkit-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-java);
  }
}

@-webkit-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-sql-mysql);
  }
}

@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-php);
  }
}

@-moz-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-html-css);
  }
}

@-moz-keyframes progress-js {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-javaScript);
  }
}

@-moz-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-python);
  }
}

@-moz-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-java);
  }
}

@-moz-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-sql-mysql);
  }
}
@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-php);
  }
}

@keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-html-css);
  }
}

@keyframes progress-js {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-javaScript);
  }
}

@keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-python);
  }
}

@keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-java);
  }
}

@keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: var(--main-sql-mysql);
  }
}
